.flow-editor {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  .flow-editor-contents {
    position: absolute;
    transform-origin: 0 0;
  }
  .background {
    width: 100%;
    height: 100%;
    position: relative;
    // background-color: var(--bg-color);
    background-image: radial-gradient(var(--bg-dot-color) 1px, transparent 1px);
    background-size: 60px 60px;
    .flow-state {
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 20px;
      color: var(--text-inactive-color);
    }
  }

  .menu-container {
    position: absolute;
    z-index: 1000;
  }

  .component-editor-container {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    .overlay {
      height: 100%;
      flex-grow: 1;
      background-color: rgba(0, 0, 0, 0.182);
    }
    .component-editor {
      height: 100%;
      max-width: 100%;
      width: 500px;
      background-color: var(--bg-color);
      color: var(--text-color);
      // overflow: auto;
      position: relative;
      border-left: 1px solid var(--border-color);
      display: flex;
      flex-direction: column;

      &:has(.component-editor-resizer:hover) {
        border-left-color: var(--highlight-blue);
      }
    }
  }

  .processor-selector-container, .service-selector-container {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.182);
    }
  }

  .publish-buttons {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    display: flex;
    gap: 10px;
  }

  .open-publish, .export-btn, .rearrange-btn {
    padding: 8px 20px;
    border-radius: 5px;
    color: var(--text-inactive-color);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
  }

  .open-publish:hover, .export-btn:hover, .rearrange-btn:hover {
    color: var(--highlight-green);
    background-color: var(--light-green);
    border-color: var(--highlight-green);
  }


  .publish-container {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.182);
    }
  }

  .open-publish {
    display: flex;
    justify-content: center;
    align-items: center;
    &.pending {
      .label {
        opacity: 0;
        pointer-events: none;
      }
    }
    &:not(.pending) {
      .publish-loader {
        display: none;
      }
    }
    .publish-loader {
      position: absolute;
      border: 3px solid #f4f4f4;
      border-top: 3px solid #389fe3;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }

  .new-process-group {
    position: absolute;
    border: 2px dashed rgb(78, 78, 78);
    border-radius: 3px;
  }
}

.link-cursor {
  cursor: url(link-add.svg) 12 12, auto;
}

.top-bottom-cursor {
  cursor: ns-resize;
}

.left-right-cursor {
  cursor: ew-resize;
}

.top-left-cursor {
  cursor: nwse-resize;
}

.top-right-cursor {
  cursor: nesw-resize;
}

.crosshair-cursor {
  cursor: crosshair;
}