.agent {
  width: 80%;
  box-sizing: border-box;
  padding: 1em;
  border: 1px solid rgb(237, 237, 237);
  margin: 0.5em;
  border-radius: 5px;

  .header {
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
    align-items: center;
    .id {
      color: rgb(27, 40, 66);
      font-weight: bold;
      cursor: pointer;
      &:hover {
        color: rgb(22, 22, 172);
      }
    }
    .class {
      margin-left: 2em;
      font-size: 0.9em;
    }
    .last-heartbeat {
      margin-left: 2em;
      font-size: 0.9em;
      color: rgb(147, 147, 147);
      &.alive {
        color: green;
        font-weight: bold;
      }
    }
    .fill {
      flex-grow: 1;
    }
    .settings {
      position: relative;
      .icon {
        visibility: hidden;
        cursor: pointer;
        path {
          fill: rgb(157, 157, 157);
        }
        &:hover path {
          fill: rgb(30, 30, 30);
        }
      }
      &:not(:focus) .agent-menu {
        display: none;
      }
    }
  }

  .flow {
    cursor: pointer;
    border-radius: 4px;
    padding: 4px;
    display: inline-block;
    &:hover {
      background-color: rgb(239, 239, 239);
    }
  }
}

.agent:hover .header .settings .icon {
  visibility: initial;
}