.parameter-context-editor {
  .parameter {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    margin: 20px;
    .header {
      display: flex;
      padding-bottom: 20px;
    }
    .delete-icon {
      cursor: pointer;
      background-color: var(--bg-color) !important;
      &:hover {
        svg {
          fill: var(--highlight-red);
        }
      }
    }
  }
}