.create-string {
  padding: 20px 30px;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  .title {
    padding-bottom: 20px;
  }
  input {
    margin: 40px 0px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    outline: none;
    background-color: var(--bg-color);
  }
  .ok {
    align-self: flex-end;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    &:hover {
      background-color: var(--light-green);
      color: var(--highlight-green);
      cursor: pointer;
    }
  }
}