.flow-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  align-items: center;
  padding: 2em 0;
  box-sizing: border-box;
}

.open-import {
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
  display: flex;
  gap: 10px;
  padding: 7px 14px;
  border-radius: 2px;
  color: rgb(193, 193, 193);
  background-color: white;
  border: 1px solid rgb(213, 213, 213);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.open-import:hover {
  background-color: rgb(19, 152, 19);
  border-color: rgb(19, 152, 19);
  color: white;
}

.import-container {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.182);
  }
}