.menu {
  position: absolute;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 4px;
  outline: none;
  overflow: hidden;
  .menu-item {
    white-space: pre;
    padding: 10px 20px;
    cursor: pointer;
    &:hover{
      background-color: var(--hover-bg-color);
    }
  }
}