.component-status {
  display: inline-block;
  border-radius: 50%;
  background-color: var(--bg-color);
  width: 28px;
  height: 28px;
  padding: 4px;

  .pause-icon {
    fill:  var(--text-inactive-color);
  }

  .play-icon {
    fill: var(--highlight-green);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid;
    border-radius: 50%;
  }

  &.STARTED::after {
    border-color: var(--highlight-green);
  }

  &.STOPPED::after {
    border-color: var(--text-inactive-color);
  }

  &.STARTING::after, &.STOPPING::after, &.UNKNOWN::after {
    border-color: var(--light-bg-color);
    animation: spin 2s linear infinite;
  }

  &.UNKNOWN::after {
    border-top-color: var(--highlight-blue);
  }

  &.STARTING::after {
    border-top-color: var(--highlight-green);
  }

  &.STOPPING::after {
    border-top-color: var(--text-inactive-color);
  }
    
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}