.agent-identifier {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 20px;
  border: 1px solid rgb(235, 235, 235);
  color: rgb(163, 163, 163);
  border-radius: 30px;
  margin: 20px;
  cursor: pointer;
  &:hover {
    border: 1px solid rgb(70, 70, 70);
    color: rgb(59, 59, 59);
  }
}