.agent-info-container {
  display: flex;
  align-items: center;
  margin: 20px;
  pointer-events: all;
}

.agent-identifier {
  padding: 5px 20px;
  border: 1px solid var(--text-inactive-color);
  color: var(--text-inactive-color);
  border-radius: 30px;
  cursor: pointer;
  &:hover {
    border: 1px solid var(--text-active-color);
    color: var(--text-active-color);
  }
}

.top-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  font-family: sans-serif;
  pointer-events: all;

  .item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;

    .icon {
      font-size: 1.5em;
    }

    .memory-icon {
      color: teal;
    }

    .cpu-icon {
      color: orange;
    }

    .text {
      font-size: 1em;
    }
  }
}

