.connection-error {
  background-color: rgb(255, 188, 188);
  color: rgb(214, 15, 15);
  padding: 10px;
  border: 1px solid rgb(214, 15, 15);
  margin: 10px;
  border-radius: 3px;
}

.flowfile-attribute {
  padding: 10px;
}