.agent-class {
  width: 80%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 1em;
  border: 1px solid var(--border-color);
  margin: 0.5em;
  border-radius: 5px;
  align-items: flex-start;

  .name-flow {
    .name {
      padding-bottom: 1em;
      color: var(--text-color);
      font-weight: bold;
    }
    .flow {
      font-size: 0.9em;
      cursor: pointer;
      border-radius: 4px;
      padding: 4px;
      display: inline-block;
      &:hover {
        background-color: var(--hover-bg-color);
      }
    }
  }
  .fill {
    flex: auto;
  }
  .agent-count {
    padding: 0.2em;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background-color: var(--hover-bg-color);
    }
  }

  .new-flow {
    display: inline-block;
    margin-left: 20px;
    font-size: 0.8em;
    border-radius: 15px;
    background-color: var(--hover-bg-color);
    color: var(--highlight-green);
    padding: 2px 10px;
    cursor: pointer;
    &:hover {
      background-color: var(--highlight-green);
      color: var(--bg-color);
    }
  }
}