.notifications {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 200;
  .notification {
    pointer-events: all;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    flex: none;
    width: 400px;
    padding: 20px;
    margin: 20px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.318));
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
    .close {
      position: absolute;
      right: 5px;
      top: 5px;
      display: none;
      cursor: pointer;
      padding: 3px;
      path {
        fill: var(--text-inactive-color);
      }
      &:hover path{
        fill: var(--text-active-color);
      }
    }
    &:hover .close {
      display: inline-block;
    }
    &.success {
      // color: rgb(34, 169, 34);
      .success-icon {
        margin-right: 20px;
        fill: var(--highlight-green);
        flex: none;
      }
      .timeout {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--highlight-green);
        height: 4px;
      }
    }
    &.error {
      // color: rgb(210, 47, 47);
      .error-icon {
        margin-right: 20px;
        fill: var(--highlight-red);
        flex: none;
      }
      .timeout {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--highlight-red);
        height: 4px;
      }
    }
  }
}