.notifications {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 200;
  .notification {
    border-radius: 4px;
    flex: none;
    max-width: 300px;
    padding: 15px;
    margin: 20px;
    &.success {
      border: 2px solid rgb(23, 166, 23);
      color: rgb(34, 169, 34);
    }
    &.error {
      border: 2px solid rgb(210, 47, 47);
      color: rgb(210, 47, 47);
    }
  }
}