.component-settings {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;

  .section {
    margin-top: 20px;
    .section-title {
      padding-bottom: 5px;
      margin-bottom: 20px;
      border-bottom: 1px solid rgb(237, 237, 237);
      display: flex;
      flex-direction: row;
    }
  }

  .input-field {
    margin-bottom: 20px;
  }

  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    path {
      fill: rgb(176, 176, 176);
    }
    &:hover path{
      fill: black;
    }
  }
  .add-dynamic-property {
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    &:hover {
      background-color: rgb(226, 226, 226);
    }
  }
}