.confirm-modal {
  padding: 20px 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  .text {
    padding: 30px;
    text-align: justify;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    padding: 0px 30px;
    box-sizing: border-box;
    width: 100%;
  }
  .cancel {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    margin-left: 50px;
    &:hover {
      background-color: rgb(237, 237, 237);
      color: rgb(64, 64, 64);
      cursor: pointer;
    }
  }
  .confirm {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    &.DELETE {
      color: rgb(223, 23, 23);
      &:hover {
        background-color: rgb(223, 23, 23);;
        color: rgb(231, 231, 231);
        cursor: pointer;
      }
    }
    &.CREATE {
      color: rgb(35, 117, 18);
      &:hover {
        background-color: rgb(35, 117, 18);
        color: rgb(231, 231, 231);
        cursor: pointer;
      }
    }
  }
}