.confirm-modal {
  padding: 20px 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  .text {
    padding: 30px;
    text-align: justify;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    padding: 0px 30px;
    box-sizing: border-box;
    width: 100%;
  }
  .cancel {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    margin-left: 50px;
    &:hover {
      background-color: var(--hover-bg-color);
      color: var(--text-active-color);
      cursor: pointer;
    }
  }
  .confirm {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    &.DELETE {
      color: var(--highlight-red);
      &:hover {
        background-color: var(--highlight-red);
        color: rgb(231, 231, 231);
        cursor: pointer;
      }
    }
    &.CREATE {
      color: var(--highlight-green);
      &:hover {
        background-color: var(--highlight-green);
        color: rgb(231, 231, 231);
        cursor: pointer;
      }
    }
  }
}