.widget{
  position: absolute;
  &:not(.active) {
    .connection-icon-container {
      display: none;
    }
  }
  &.highlight {
    .processor-view {
      border-color: rgb(61, 103, 255) !important;
    }
  }
  &.service {
    .processor-view {
      border-color: rgb(145, 61, 255) !important;
    }
  }
  .processor-view{
    &:not(.extended) {
      width: 50px;
      height: 50px;
      border: 5px solid rgb(83, 83, 83);
      border-radius: 50%;
    }
    &.extended {
      border: 2px solid transparent;
    }
    box-sizing: border-box;
    position: relative;

    .processor-errors {
      position: absolute;
      right: -5px;
      bottom: -5px;
    }

    .processor-state {
      display: inline-block;
      cursor: pointer;
      position: absolute;
      right: -12px;
      top: -12px;
      border-radius: 50%;
      background-color: white;
      border: 4px solid;

      &.STARTED {
        border-color: #008A00;
      }

      &.STOPPED {
        border-color: #8a8a8a;
      }

      .pause-icon {
        fill:  #8a8a8a;
      }

      .play-icon {
        fill: #008A00;
      }

      &.STARTING, &.STOPPING, &.UNKNOWN {
        border-color: #f4f4f4;
        border-top-color: #389fe3;
        width: 28px;
        height: 28px;
        animation: spin 2s linear infinite;
      }
        
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    }

    .name {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-top: 10px;
      transform: translate(-50%, 0);
      white-space: pre;
    }

    .connection-icon-container {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform-origin: 50% 50%;
      .connection-icon {
        position: absolute;
        top: 100%;
        margin-top: 2px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
}