.tooltip-container {
  position: relative;
  display: flex;
  .tooltip-message {
    z-index: 1000;
    display: block;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    margin-bottom: 5px;
    left: 0;
    // left: 50%;
    // transform: translate(-50%, 0);
    overflow: auto;
    max-width: 250px;
    width: max-content;
    background-color: var(--bg-color);
    border-radius: 5px;
    padding: 10px;
  }
  &:hover {
    .tooltip-message {
      opacity: 1;
    }
  }
}