.property-visibility {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  opacity: 0.8;
  &.active {
    svg {
      fill: var(--highlight-blue) !important;
    }
  }
  &:hover {
    opacity: 1;
  }
}